html {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
  }

  *, *::before, *::after {
      box-sizing: inherit;
  }
  .header-first { /* Redundanciát sejtek. Mi haszna van minden egyes elemet külön stílussal ellátni azon kívül, hogy négyszer kell leírnod? */
    margin-top: 40px;
    position: relative; /* ehhez a csomóponthoz képest lesz relatív a lejjebb abszolút pozícionált elem. */
  }

  .dropdown-background-line {
      width: 100%;
      height: 80px;
      background-color: #0093d0;
  }
  
  .header-label .float-label {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background-color: #fff;
  }
 
  .overlay-dropdown {
    display: none; /* Javaslat: érdemes összevonni a teljesen azonos szelektorokat egybe */
  }
  .overlay-dropdown:target {
    display: block;
  }
  .overlay-dropdown {
    position: absolute; /* ahogy tanultuk, ki kell venni az elemet az alapértelmezett renderelt helyéről */
    width: 325px; /* ne használj %-ot, mert akkor függ, hogy melyik elemhez képest mérjük. */
    height: auto;
    background-color: #59a498;
  
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
  }
  .overlay-dropdown2 {
    position: relative;
  }
  input[type="text"] {
    border: none;
    border: 0;
  }
  .filter {
    padding: 10px;
    width: 90%;
   
  }
  .search-input {
    padding: 20px;
    margin-top: 20px;
  }
  
  .checkbox-input {
    font-size: 1.8rem;
    padding: 10px;
    cursor: pointer;
  }
  .destination-item {
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: normal;
    margin-right: 40px;
    color: #fff;
  }
  .fas {
    font-size: 16px;
    color: white;
    display: inline-block;
    margin-right: 10px;
    margin-left: 3px;
  }
  
  .close-dropdown {
    position: absolute;
    right: 0;
    top: -80px;
    z-index: 2;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
  .content-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
  
  .dropdown-checkbox input  {
    border: 1px solid #59a498;
    width: 18px;
    height: 18px;
    
  }
 .dropdown-map-marker {
    display: flex;
    align-items: center;
  }

  /*---------------------------------*/

  .header-second {
    margin-top: 40px;
   
  }
  .header-label-second .float-label-second {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
    background-color: #fff;
  }
  
  .overlay-dropdown-nd {
    display: none;
  }
  .overlay-dropdown-nd:target {
    display: block;
  }
  .overlay-dropdown-nd {
    width: 130%;
    height: auto;
    background-color: #59a498;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
  }
  .overlay-dropdown2-nd {
    position: relative;
  }
  input[type="text"] {
    border: none;
    border: 0;
  }
  .filter-second {
    padding: 10px;
    width: 90%;
    border-bottom: orangered;
  }
  .search-input-nd {
    padding: 20px;
    margin-top: 20px;
  }
  
  .checkbox-input-nd {
    font-size: 1.8rem;
    padding: 10px;
    cursor: pointer;
  }
  .destination-item-nd {
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: normal;
    margin-right: 40px;
    color: #fff;
  }
  .fas {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-left: 3px;
  }
  
  .close-dropdown-nd {
    position: absolute;
    right: 0;
    top: -80px;
    z-index: 2;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
  .content-dropdown-nd {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
  
  .dropdown-checkbox-nd .checkbox-input-nd {
    border: 1px solid #59a498;
    width: 18px;
    height: 18px;
    border-radius: 4px;
  }
  .dropdown-map-marker-nd {
    display: flex;
    align-items: center;
  }
  .dropdown-background-line {
      display: flex;
      justify-content: center;
  }

  /*-------------------------*/

  .header-third {
    margin-top: 40px;
  }
  .header-label-rd .float-label-rd {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
    background-color: #fff;
  }
  
 
  .title-dropdown-date {
    display: none;
  }
  .title-dropdown-date:target {
    display: block;
  }
  .title-dropdown-date {
    width: 130%;
    height: auto;
    background-color: #59a498;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    color: #fff;
  }
  .title-dropdown-input {
      font-size: 1.8rem;
  }
  .title-input-container {
      padding-top: 10px;
  }
  .overlay-dropdown2-rd {
    position: relative;
  }
  
  .close-dropdown-rd {
    position: absolute;
    right: 0;
    top: -80px;
    z-index: 2;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
  .date-picker {
      margin-top: 20px;
      cursor: pointer;
      margin-bottom: 20px;
  }

  /*--------------------------------*/

 .header-fourth {
     margin-top: 40px;
 } 
 .header-label-fourth .float-label-fourth {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
    background-color: #fff;
 }
 .duration-options {
     display: none;
 }
 .duration-options:target {
     display: block;
 }
 .duration-options {
    width: 110%;
    height: auto;
    background-color: #59a498;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    color: #fff;
}

.duration-option-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    gap: 15px 15px;
}
.overlay-dropdown2-fourth {
    position: relative;
}
.filter-radio-label {
    margin-bottom: 20px;
}
 .close-dropdown-fourth {
    position: absolute;
    right: -230px;
    top: -35px;
    z-index: 2;
    font-size: 18px;
    text-decoration: none;
    color: black;
  } 
  .title-duration {
      font-size: 1.6rem;
      margin-left: 5px;
  }
  input[type="radio"] {
      display: none;
  }
  .filter-radio-text {
      font-size: 1.6rem;
      border: 1px solid #fff;
      padding: 4px 16px;
      border-radius: 8px;
      margin-left: 5px;
  }
  .filter-radio-text:hover {
      cursor: pointer;
      background-color: red;
  }
